body{
    background-color: #352f5b;
}

.container{
    max-width: 450px;
}

input[type=text],
input[type=text]:focus{
    color: #fff;
    border: none;
    background-color: rgba(0, 0, 0, .2);
}

li.list-group-item{
    background-color: #423a6f;
    color: #F8F9FA;
}
li.list-group-item span {
  user-select: none;
}
li.list-group-item span.completed{
    text-decoration: line-through;
    color: grey;  
}

.delete{
    cursor: pointer;
}

label.add{
    margin-bottom: 15px;
}

.filtred{
    display: none !important;
}

.placeholder {
    background-color: #423a6f;
    color: #F8F9FA;
    padding: 30px;
}

.hidden {
    display: none;
}

button.clear {
    margin-top: 10px;
    background-color: #483f7a;
    border: none;
}

button.clear:hover {
    background-color: #423a6f;
    border: none;
}

button.clear:focus {
    outline: none;
    border: none;
    box-shadow: none;
    background-color: #423a6f;
}

button.clear:active {
    outline: none;
    border: none;
    box-shadow: none;
    background-color: #423a6f;
}